<header>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebas" type="text/css" />
  <h2>iStoryline-ASU</h2>

  <span style="padding:20px;margin-right:40px;width:300px">
    <mat-button-toggle style="margin-right:40px" class="dataSetbutton" value="add" (click)="dataset.toggle()">
      <mat-icon>add</mat-icon>
      <label>Please Choose a Movie</label>
    </mat-button-toggle>
  </span>
</header>

<div style="float:left;margin:30px">
  <character-app (characterHide)="onCharacterHide($event)" (characterShow)="onCharacterShow($event)"></character-app><br />
  <text-component></text-component><br />
  <shapes-app></shapes-app><br />
  <story-app (gifElement)="createGif($event)"></story-app> <br />
  <color-app (colorChange)="onColorChange($event)"></color-app><br />
  <gradient-app></gradient-app>
</div>
<div id="graphContainer" style="float:left;margin:30px;">
  <div id="plain-field" width="100px" height="100px"></div>
  <line-chart [hideCharacters]="hideCharacters" [DataSet]="DataSet" [showCharacters]="showCharacters" [newColor]="colorChange"
    [newCharacter]="newCharacter"></line-chart>
</div>

<mat-drawer-container class="sidenav-container" autosize style="margin-top:200px;">

</mat-drawer-container>
<div id="gifs">
  <div id="gif-container" ngDraggable>

  </div>
</div>
<draggable-app></draggable-app>
<!-- TODO: Fix the button alignment to be above nav drawer -->
<div>
  <mat-drawer #dataset class="sidenav" mode="side" position="end" autosize>
    <button mat-raised-button color="secondary" (click)="clickLRRH()">
      <mat-icon>description</mat-icon>
      Little Red <br />Riding Hood
    </button><br />
    <button mat-raised-button color="secondary" (click)="clickBB()">
      <mat-icon>description</mat-icon>
      The Curious Case <br /> of Benjamin Button
    </button>
    <br />
    <button mat-raised-button color="secondary">
      <mat-icon>description</mat-icon>
      Data Set III
    </button>
  </mat-drawer>
</div>

<!-- <sub-template [hidden]="!showText"></sub-template> -->

<!-- <line-chart></line-chart> -->
