<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <h2>iStoryline-ASU</h2>
    <mat-button-toggle value="menu" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </mat-button-toggle>
    <span>
        <mat-button-toggle class="dataSetbutton"value="add" (click)="dataset.toggle()">
            <mat-icon>add</mat-icon>
        </mat-button-toggle>
    </span>
   

</header>
<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <button mat-raised-button color="secondary">Characters
            <mat-icon>face</mat-icon>

        </button><br />
        <button mat-raised-button color="secondary">Shape
            <mat-icon>format_shapes</mat-icon>
        </button>
        <br />
        <button mat-raised-button color="secondary">Text
            <mat-icon>text_format</mat-icon>
        </button>
        <br />
        <button mat-raised-button color="secondary">Story
            <mat-icon>library_books</mat-icon>
        </button><br />
    </mat-drawer>

    <graph></graph>


    <mat-drawer #dataset class="sidenav" mode="side"  position="end">
        <button mat-raised-button color="secondary">
            <mat-icon>description</mat-icon>
            Data Set I
        </button><br />
        <button mat-raised-button color="secondary">
            <mat-icon>description</mat-icon>
            Data Set II
        </button>
        <br />
        <button mat-raised-button color="secondary">
            <mat-icon>description</mat-icon>
            Data Set III
        </button>
       
    </mat-drawer>

    <div class="main-content">


    </div>




   

</mat-drawer-container>